<footer class="footer">
  <div class="flex">
    <p class="footer__text">
      <p class="reserved" > © 2020 | All Rights Reserved |</p> <p class="reserved_2">Developed with
        <img class="footer-icon" src="./images/footer/Vector.png" alt=""
        />
        by <a href="#" class="footer-team__name">"Ninja coders"</a>
        </p>
    </p>
  </div>
</footer>

<div class="backdrop__footer is-hidden">
  <section id="team" class="team modal__footer">
    <div class="team__conteiner">
      <div id="teammates" class="teammates">
        <h2 class="team__title">Team "Ninja coders"</h2>
        <a class="team-close">
          <img
            class="team-close-cross"
            src="./images/footer/icons8-multiply-24.png"
            alt=""
          />
        </a>
      </div>
      <ul class="team__list">
        <li class="team-member">
          <img
            src="./images/footer/Katya-tab1-min.jpg"
            alt="photo Katya Kondratchuk"
            class="team-member__img"
          />
          <h3 class="team-member__name">Katya Kondratchuk</h3>
          <p lang="en" class="team-member__position">Team Lead, Developer</p>
        </li>
        <li class="team-member">
          <img
            src="./images/footer/Kateryna-tab1-min.jpg"
            alt="photo Katya Kondratchuk"
            class="team-member__img"
          />
          <h3 class="team-member__name">Katya Filipchuk</h3>
          <p lang="en" class="team-member__position">Scrum Master, Developer</p>
        </li>
        <li class="team-member">
          <img
            src="./images/footer/paul-tab1-min.jpg"
            alt="photo Katya Filipchuk"
            class="team-member__img"
          />
          <h3 class="team-member__name">Paul Litinskiy</h3>
          <p lang="en" class="team-member__position">Developer</p>
        </li>
        <li class="team-member">
          <img
            src="./images/footer/vitaliy-tab1-min.jpg"
            alt="photo  Paul Litinskyi"
            class="team-member__img"
          />
          <h3 class="team-member__name">Vitaliy Smirnov</h3>
          <p lang="en" class="team-member__position">Developer</p>
        </li>
        <li class="team-member">
          <img
            src="./images/footer/borys-tab1-min.jpg"
            alt="photo Vitaliy Smirnov"
            class="team-member__img"
          />
          <h3 class="team-member__name">Borys Shishuk</h3>
          <p lang="en" class="team-member__position">Developer</p>
        </li>
      </ul>
    </div>
  </section>
</div>
